# Copy this file to .env.local
NEXT_PUBLIC_WEB_BASE=http://localhost:3000
NEXT_PUBLIC_API_BASE=http://localhost:3000/api
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=474494124883-37t8cmrjvlgrkahhn9uo2ahsqaqaj4mf.apps.googleusercontent.com