.btnswitch {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* margin: 2em auto 2em auto; */
	width: 100%;
	border: 2px solid #9085de;
	border-radius: 16px;
	padding: 1px;
}

.btnswitch__left {
	border-radius: 15px 0px 0px 15px;
}
.btnswitch__right {
	border-radius: 0 15px 15px 0;
}

.btnswitch__left,
.btnswitch__right {
	/* border: 2px solid #ff754c; */
	background-color: #fff;
	color: #000;
	height: 50px;
	width: 50%;
}

@media screen and (max-width: 767px) {
	.btnswitch {
		width: 100%;
	}
}
