body {
	@apply text-gray-800 font-poppins dark:bg-gray-900 dark:text-white;
}

.-icon {
	fill: currentColor;
	height: 21px;
	width: 21px;
}

.-button {
	@apply px-5 py-4 flex flex-row items-center justify-center rounded-xl font-bold transition-colors;
	touch-action: manipulation;
}
.-button:disabled {
	opacity: 0.5;
	pointer-events: none;
}
.-button.-primary {
	@apply bg-primary text-white;
}
.-button.-shark {
	@apply bg-shark text-white px-7 py-3;
}
.-button.-secondary {
	@apply text-gray-500 hover:text-primary;
}
.-button.-dark {
	@apply bg-gray-800 text-white;
}
.-button.-round {
	border-radius: 50%;
}
.-button.-sm {
	@apply px-4 py-2;
}

.-card {
	@apply bg-white block rounded-3xl dark:bg-dark;
}
.-card.--shadow {
	@apply relative;
}
.-card.--shadow::before {
	@apply absolute rounded-3xl;
	content: '';
	z-index: -1;
	background: #e3e6ec;
	filter: blur(86.985px);
	top: 22px;
	left: 18px;
	right: 18px;
	bottom: -40px;
}
.dark .-card.--shadow::before {
	background: black;
}

.ReactModal__Content {
	@apply mx-auto my-10 px-7 py-3 rounded-3xl border-0 bg-white dark:bg-dark !important;
	max-width: 650px;
}
.ReactModal__Overlay {
	@apply z-20;
	background-color: rgba(27, 29, 33, 0.5) !important;
}

.-table {
	@apply w-full rounded-3xl;
}
.-table td,
.-table th {
	padding: 1.5rem 1rem;
}
.-table-responsive {
	overflow-x: auto;
}

.-hstack {
	@apply flex rounded-xl;
	border: 1px solid rgba(127, 127, 127, 0.5);
}
.-hstack > div {
	@apply flex-1;
}
/* .-hstack > div:not(:first-of-type) {
	border-left: 1px solid rgba(127, 127, 127, 0.5);
} */

.-sidebar-wrapper-mobile {
	@apply absolute bg-white z-10;
	transition: transform 0.25s ease;
	transform: translateX(-100%);
}
.-sidebar-wrapper-mobile.--open {
	transform: translateX(0);
}

.heading-sizes h1 {
	@apply text-4xl my-4 font-bold;
}

.heading-sizes h2 {
	@apply text-2xl my-4 font-bold;
}

.heading-sizes ul {
	@apply my-4 ml-5;
	list-style: circle;
}

.heading-sizes p {
	@apply my-4;
}

.heading-sizes a {
	@apply underline text-primary;
}

.-sidebar-main::-webkit-scrollbar {
	display: none;
}

.-sidebar-main {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.create-page-frequency-arrow.relative {
	top: 3px;
	left: 10px;
}

/* Change home page bar chart label color in dark mode */
.dark .apexcharts-text {
	fill: #fff;
}
.dark .profile-menu__arrow {
	color: #fff;
}
.no-scroll {
	overflow: hidden;
}

.apexcharts-tooltip {
	color: #1f2937 !important;
}

input:checked ~ .dot {
	transform: translateX(120%);
	/* background-color: #48bb78; */
}

input:checked ~ .checkbox-bg {
	background-color: #7fba7a;
}

@media (max-width: 480px) {
	.overview-containers {
		padding-left: 15px;
		padding-right: 15px;
	}
	.days-holder div {
		margin-left: 0.25rem;
		margin-right: 0.25rem;
	}
	.overview-page-checkin-btn {
		padding: 10px 30px;
	}
}

/* Group Details modal changes*/

.group-details-modal__title {
	font-size: 16px;
	color: #5f6164;
}

.btnswitch__btn.active {
	border: 0;
	background-color: #6c5dd3;
	color: #fff;
}

.group-details-modal .group-details-modal__input {
	width: 100%;
}

.group-details-modal .group-details-modal__text-area {
	width: 100%;
}

/* .group-details-modal .group-details-modal__text-area:focus {
	outline: none;
} */

.group-details-modal .group-details-modal__input input {
	background-color: #f7f7f7;
}
.group-details-modal__input-label {
	font-size: 16px;
	color: #5f6164;
}
/* Custom 3px border for payment-withdraw button of payouts page*/

.payments__button-wrapper .-secondary {
	border: 3px solid rgb(107, 114, 128);
}

.radio-holder .container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.radio-holder .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.radio-holder .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
}

.radio-holder .container input:checked ~ .checkmark {
	background-color: #7fba7a;
}

.radio-holder .checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.radio-holder .container input:checked ~ .checkmark:after {
	display: block;
}

.radio-holder .container .checkmark:after {
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background: white;
}

.disable-event {
	pointer-events: none;
	opacity: 0.3;
}

/* Google signin button css */
.google-o-auth-button-login,
.google-o-auth-button-logout {
	margin-left: -8px;
	width: calc(100% + 15px);
	color: #fff !important;
	font-weight: 700 !important;
	background-color: #4285f4 !important;
}

.box {
	--b: 5px; /* thickness of the border */
	--c: #8275da; /* color of the border */
	--w: 40px; /* width of border */

	border: var(--b) solid transparent; /* space for the border */
	--g: #0000 90deg, var(--c) 0;
	background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--g))
			0 0,
		conic-gradient(from 180deg at top var(--b) right var(--b), var(--g)) 100% 0,
		conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--g)) 0 100%,
		conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--g)) 100%
			100%;
	background-size: var(--w) var(--w);
	background-origin: border-box;
	background-repeat: no-repeat;
	border-radius: 5px;
}
