@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .xl:max-w-1400 {
        max-width: 1400px
    }

    @media (min-width: 1024px) {
        .lg:max-w-750 {
            max-width: 750px
        }
    }

    @media (min-width: 1280px) {
        .lg:max-w-750 {
            max-width: 750px
        }
    }
}
