.onboarding_container {
	min-height: 715px;
}

@media (min-width: 1536px) {
	.onboarding_container {
		min-height: 860px;
	}
}

.onboarding__card {
	background-color: #24008b;
}

.onboarding__button {
	background: #4822b6;
	box-shadow: 0px 4px 40px rgba(36, 0, 139, 0.35);
	border-radius: 15px;
}

.session__text {
	background-color: #24008b;
	border: 1.5px solid rgba(167, 153, 209, 0.5);
	box-sizing: border-box;
	border-radius: 10px;
}

.onboarding__select {
	background-color: #24008b;
	border: 1.5px solid rgba(167, 153, 209, 0.5);
	box-sizing: border-box;
	border-radius: 10px;
}

@media (min-width: 768px) {
	.onboarding__image {
		width: 350px;
	}
}

@media (min-width: 1024px) {
	.onboarding__image {
		width: 400px;
	}
}

@media (min-width: 1280px) {
	.onboarding__image {
		width: 450px;
	}
}

@media (min-width: 1536px) {
	.onboarding__image {
		width: 550px;
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
}

.tooltip .tooltiptext {
	visibility: hidden;
	right: 0;
	width: 200px;
	background-color: #552ec0;
	color: white;
	border-radius: 6px;
	padding: 5px 10px;
	font-size: 14px;
	/* Position the tooltip */
	opacity: 0;
	position: absolute;
	z-index: 1;
	transition: opacity 0.6s;
	word-wrap: break-word;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.quick_suggestion {
	visibility: hidden;
	background-color: #24008b;
	border: 1.5px solid rgba(167, 153, 209, 0.5);
	box-sizing: border-box;
	border-radius: 10px;
	/* max-height: calc(100vh - 30px); */
}

.per_week_ul {
	background-color: #24008b;
	border: 1.5px solid rgba(167, 153, 209, 0.5);
	box-sizing: border-box;
	border-radius: 10px;
}
.open {
	visibility: visible;
}

.menu_option {
	padding: 2px 10px;
	cursor: pointer;
}

.menu_option:hover {
	background-color: #4822b6;
}

.per_week_menu {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
	width: 100%;
}
.per_week_menu:hover {
	background-color: #4822b6;
}

.icon_down {
	width: 20px;
	height: 20px;
	top: 22px;
	right: 17px;
	fill: #9c9ea8;
}

.info_img {
	width: 100%;
	max-width: 30px;
	margin-top: 2px;
}
@media only screen and (max-width: 1280px) {
	.info_img {
		width: 100%;
		max-width: 25px;
		margin-top: 2px;
	}
}
@media only screen and (max-width: 1024px) {
	.info_img {
		width: 100%;
		max-width: 25px;
		margin-top: 2px;
	}
}
@media only screen and (max-width: 768px) {
	.info_img {
		width: 100%;
		max-width: 30px;
		margin-top: 2px;
	}
}
@media only screen and (max-width: 640px) {
	.info_img {
		width: 100%;
		max-width: 25px;
		margin-top: 2px;
	}
}
